<h1>Thomas Crines</h1>
<p>(Actor #1) has been performing for local audiences for the last five
years, having won several awards including a “Best Actor” prize for his portrayal
of Richard Lionheart in THE LION IN WINTER at the Twin Rivers
Theatre in Wisconsin. Amongst his favorite roles: Demetrius in A MIDSUMMER
NIGHT’S DREAM, Ben Benjamin in GOD’S FAVORITE and Huck Finn
in BIG RIVER. He would like to thank his parents for their support.<p>